

.sidebarcontent{
    //No Sub Item
    a.sidebar-menu-item {
        text-align: left;
        text-decoration: none;
        color: $mauchu_sidebar;
        font-size: 1rem;
        width: 100%;
    }

    a:hover.sidebar-menu-item{
        color: white;
        background-color: lighten($blue, 5%);
        transition: $hieuung ;
    }

    a.sidebar-menu-item.active{
        background-color: $blue;
        color: white;
        transition: $hieuung ;
    }

    //Has Sub Item
    a.hasSub:after{
        content: "\f107";
        font-family: FontAwesome;
        text-decoration: inherit;
        color: $mauchu_sidebar;
        position: absolute;
        right: 10px;
    }

    a.hasSub.active:after{
        color: white;
    }

    a:focus.hasSub{
        background-color: lighten($blue, 5%);
        color: white;
    }

    a:hover.hasSub:after{
        color: white;
    }
    
    a:focus.hasSub:after{
        color: white;
    }

    //Sub Menu Item
    .submenu{
        background-color: $maubg_sidebar_submenu;

        a { padding-left: 20px; }
        a:hover, a.active { background-color: lighten($blue, 10%); }
        a.active:after{
            content: "\f111";
            font-family: FontAwesome;
            text-decoration: inherit;
            color: white;
            font-size: 8px;
            line-height: 20px;
            position: absolute;
            right: 15px;
        }
    }
}
