<div class="container">
    <div class="message-pages">
        <h3>ALERT MESSAGE</h3>
        <p>The page you are looking for does not support access in <strong>incognito mode</strong>, please switch to default mode.</p>
        <p>Hệ thống hiện không hỗ trợ yêu cầu từ trình duyệt ở chế độ ẩn danh, vui lòng chuyển sang chế độ mặc định của trình duyệt để tiếp tục.</p>
    <hr>
    <img src="assets/images/logo-giadmin-black.svg" height="20" class="d-inline-block align-top" alt=""><br>
    <span class="small">Powered by <strong>GetIT VN</strong> ©2017</span>
    </div>
</div>