#wrapper{
    padding-top: 66px;
}
a.navbar-toggle{
    display: none;
}

.navbar-spacer{
    flex: 1 1 auto;
}
.btn-options {
    background-color: transparent;
    border-radius: 0;
    color: white;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.sidebar {
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 0px 20px;
    width: 250px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #CCC;
}

.sidebar {
    padding-left: 0;
    padding-right: 0;
}

.content-wrapper{
    padding-left: 250px;
}


footer{
    border-top: 1px solid #DDD;
    padding-top: 5px;
    line-height: 16px;
    color: #212121;
}


@media (max-width: 575px) {
    .navbar-options{
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

}

@media (max-width: 991px) {
    a.navbar-toggle{
        display: block;
        width: 25px;
        height: 40px;
        color: white;
        line-height: 40px;
    }

    a:hover.navbar-toggle{
        color: white;
    }

    .sidebar {
        position: fixed;
        top: 56px;
        bottom: 0;
        left: -250px;
        z-index: 1000;
        padding: 0px 20px;
        width: 250px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        border-right: none;
        transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }
    .sidebar {
        padding-left: 0;
        padding-right: 0;
    }

    .sidebar.show{
        left: 0px;
        background-color: #212121;
        transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }
    .content-wrapper{
        padding: 0;
    }

    .overlaysidebar {
        display: none;
        position: fixed;
        z-index: 999;
        padding: 0;
        top: 0;
        width: 100%;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }
    .overlaysidebar.show {
        display: block;
        transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }
}