$blue:    #0D47A1 !default;
$color-item : #212121;
$topnav-background-color: $blue;

a.sidebar-menu-item{
    font-weight: 500;
    text-decoration: none;
    color: $color-item;
    font-size: 1rem;
}
a.sidebar-menu-item.active{
    font-weight: 500;
    background-color: $blue;
    color: white;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.sidebar-menu-item{
    text-align: left;
    width: 100%;
}
a.sidebar-menu-item:hover{
    font-weight: 500;
    color: white;
    background-color: lighten($blue, 5%);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.hasSub:after{
    content: "\f107";
    font-family: FontAwesome;
    text-decoration: inherit;
    color: $color-item;
    position: absolute;
    right: 10px;
}
.hasSub:hover:after{
    color: white;
}
.hasSub.active:after{
    color: white;
}
.hasSub:focus{
    background-color: lighten($blue, 5%);
    color: white;
}
.hasSub:focus:after{
    color: white;
}
.submenu{
    background-color: #DDD;
}
.submenu a{
    padding-left: 20px;
}
.submenu a:hover{
    background-color: lighten($blue, 10%);
}
.submenu a.active{
    background-color: lighten($blue, 10%);
}
.submenu a.active:before{
    content: "\f111";
    font-family: FontAwesome;
    text-decoration: inherit;
    color: white;
    font-size: 8px;
    line-height: 20px;
    position: absolute;
    right: 15px;
}