$font-family-sans-serif: 'Roboto',-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$fa-font-path : './font-awesome/fonts';

$blue:    #0D47A1 !default;
$indigo:  #3F51B5 !default;
$purple:  #9C27B0 !default;
$pink:    #E91E63 !default;
$red:     #D32F2F !default;
$orange:  #FF9800 !default;
$yellow:  #FFC107 !default;
$green:   #1B5E20 !default;
$teal:    #009688 !default;
$cyan:    #00BCD4 !default;
$light:   #f8f9fa !default;

$mauchu:  #212121 !default;

$mauchu_sidebar             : #212121;
$maubg_sidebar_submenu      : #EEE;
$chieusau_topbar            : 56px;
$chieurong_sidebar          : 220px;
$index_sidebar              : 1000;
$index_overlay              : 999;
$hieuung                    : all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;

